<div class="dark">
<h1>Congressmen</h1>

<% @representatives.each do |rep| %>
<%= link_to representative_path(rep) do %>
  <div class='repbox'>
    <img src='<%= rep.image %>' style="width:200px;"/>
    <%= rep.name %>
    <%= rep.party %><br/>
  </div>
  <% end %>
<% end %>
</div>
