/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .billbox {
   width: 320px;
   padding: 10px;
   border: 5px solid gray;
   margin: 0;
 }

 .billbox:hover {
    background-color: yellow;
}

.billbox:active {
    background-color: green;
}

.small-8 {
  padding-left: 25px;
}

.repbox {
  width: 320px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}

.repbox:hover {
   background-color: yellow;
}

.repbox:active {
   background-color: green;
}
