/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.headshot {
  position: relative;
    left: 30px;
}

 body {
   margin-left:auto;
   margin-right:auto;
   color: linear-gradient(rgba(250,245,245,.7), rgba(250,245,245,.4));
   background-image:

    url('/assets/constitution.jpeg');
    background-size: 100%;
    background-position: center center;
 }
.darkbox {
  width: 800px;
  margin-left:auto;
  margin-right:auto;
  height: 100%;
  background: rgb(250,245,245);
}
 .dark {
   width: 800px;
   margin-left:auto;
   margin-right:auto;
   height: 100%;
   background-color: rgba(250,245,245,.7);
 }

 .titlename {
   color: white;
 }
 .navbar-link {
   color: white;
 }

#logo {
  height: 100px;
}
.titletext {
  color: white;
}

#title {
  background-image: url('/assets/flag.jpg;');
  background-size: 100% 100%;
}
 .billbox {
   width: 320px;
   padding: 10px;
   border: 5px solid gray;
   margin: 0;
 }

 .billbox:hover {
    background-color: rgba(200,245,200,.7);
}

.billbox:active {
    background-color: rgba(200,245,200,.4);
}

input[type="button"], input[type="submit"] {
  border:1px solid #BFBFBF;
  color: #8C8C8C;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  font-family: Georgia;
  width: auto;
  height: auto;
  font-size: 100%;
  padding: 1% 4%;
  background-color: #FCFAF9;
}

.title-bar-left {
  font-size: 38px;
  text-shadow: 0px 0px 8px #000;
  color: #eeeeee;

}

.title-bar-right {
  display: table-cell;
  vertical-align: bottom;
  text-shadow: 0px 0px 8px #000;
  color: #eeeeee;

}

.small-8 {
  padding-left: 25px;
}

.repbox {
  width: 500px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}

.repbox:hover {
   background-color: rgba(45,45,200,.7);
}

.repbox:active {
   background-color: green;
}
